
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */

.primary-color{
    color: #4E47FF;
}

.secondary-color{
    color:#252432 ;

}
.tertiary-color{
    color:rgba(37, 36, 50, 0.5) ;

}

.quaternary.color{
    color:rgba(255, 255, 255, 1) ;
}


.btn-primary{
    background-color:#4E47FF ;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color:#FFFFFF ;
    padding: 13px 36px;

/* nav styles */







}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:30px 150px ;

    
}

.nav-title{
    font-weight: 800;
    font-size: 34px;

}

ul li{
    list-style: none;
    font-size:16px ;
    
}

